@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");

#main-header {
  height: 100%;
  width: 100%;
}

#main-header img{
  width: 100%;
  height: 100%;
}

.bg-darker {
  background: rgba(77, 5, 41, 0.7);
}

.bg-lighter {
  background: rgba(156, 29, 93, 0.7);
}

html, body {
  background: url("/img/AutumnalDeer.jpg") no-repeat 50% 50%;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

#intro .primary-overlay {
  background: rgba(65, 5, 77, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#intro .secondary-overlay {
  background: rgba(221, 23, 23, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
}

#main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: .4;
}

#main-header .extra-item {
  width: 30%;
}
#main-header .extra-item:hover {
  width: 30%;
  opacity: 0.8;
  cursor: pointer;
  
}

.th {
  font-size: 30px;
}

@media(min-width: 1199px) {
  .extra-item {
    padding: 3em !important;
  }
}

.container {
  height: 100%;
  width: 100%;
}